body {
    font-family: cursive;
    text-align: center;
    background-color: blanchedalmond;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

h3,
h2 {
    margin-top: 30px;
    background-color: beige;
    font-size: 1.2em;
}
button {
    padding: 10px 20px;
    border: solid 2px #ddd;
    border-radius: 10px;
}

