body {
    font-family: sans-serif;
    text-align: center;
    background-color: blanchedalmond;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

h1,
h2 {
    margin-top: 30px;
    background-color: beige;
}

h2 {
    font-size: 1.2em;
}
body {
    font-family: 'Arial', sans-serif;
    font-size:1.2em;
}
div id="unk1" {
    font-size:1.2em;
}
div id="unk2" {
    font-size:1.2em;
}
div id="unk3" {
    font-size:1.2em;
}
div id="unk4" {
    font-size:1.2em;
}
p= {
    font-size:1.2em;
}
button {
    padding: 10px 20px;
    border: solid 2px #ddd;
    border-radius: 10px;
}

